# Copier ce fichier sous le nom '.env' dans votre site et adapter les valeurs.

# Secret d'administration pour la connexion au CMS Inline (/admin et API)
CMS_ADMIN_SECRET=

# Activation du flux d'automatisation Git lors de la publication
# Values: true | false
CMS_GIT_ENABLED=false

# Branche Git sur laquelle pousser les commits de publication
# Exemples : prod, main, master
# CMS_GIT_BRANCH=prod

# (Optionnel) Clé privée SSH de déploiement (passée via l'UI Dokploy dans les variables d'environnement)
# Si cette variable est définie, le CMS l'utilisera automatiquement pour les opérations `git push`
# GIT_DEPLOY_KEY="-----BEGIN OPENSSH PRIVATE KEY-----\n...\n-----END OPENSSH PRIVATE KEY-----"
