# Dependencies
node_modules/

# Environment & Secrets
.env
.env.*
!.env.example

# Build outputs & temporary test files
dist/
.astro/
*.tgz
astro
dev
npm
sites-template@0.1.0

# OS & Logs
.DS_Store
*.log

